nav a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}
.school {
    display: flex;
}
.home {
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.Contact {
    width: 197px ;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #FEA301;
}
.first {
    color: #FEA301;
}
.second {
    color: #01ACFD;
}
.third {
    color: #5D58EF;
}
.banner-button {
    color: white;
    background-color: black;
    width: 197px;
    height: 50px;
    border-radius: 12px;
}
.banner-img {
    width: 466px;
    height: 575px;

}
.banner {
    display: flex;
    width: 1158px;
    height: 575px;
    justify-content: center;
}
.banner-text {
    width: 640px;
    height: 331px;
    padding: 122px 200px 122px 0px;
}
.Empowering {
    color: #FEA301;
}
.towards-vision {
    color: #01ACFD;
}
.Standard-Curriculum {
    text-align: center;
}
    