nav a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    margin: 0px, auto;
}
.school {
    display: flex;
}
.home {
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.Contact {
    width: 197px ;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #FEA301;
}
.first {
    color: #FEA301;
}
.second {
    color: #01ACFD;
}
.third {
    color: #5D58EF;
}
.banner-button {
    color: white;
    background-color: black;
    width: 197px;
    height: 50px;
    border-radius: 12px;
}
.banner-img {
    /* width: 466px;
    height: 575px; */
    width: 100%;

}
.banner {
    display: flex;
    width: 1158px;
    height: 575px;
    justify-content: center;
}
.banner-text {
    width: 640px;
    height: 331px;
    padding: 122px 200px 122px 0px;
}
.Empowering {
    color: #FEA301;
}
.towards-vision {
    color: #01ACFD;
}
.Standard-Curriculum {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    /* gap: 70px; */
    text-align: center;
    /* padding: 0px 340px 0px 340px; */
    gap: 40px;
}
.first-container {
    width: 1440px;
    height: 875px;
    background-image: url('assets/bg.png');
    
}
.kinder {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, rgb(230, 241, 245),white);
    border-radius: 18px;
}
.Elementary {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, #faf5f3,white);
    border-radius: 18px;
}
.Middle {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, #f0eff3,white);
    border-radius: 18px;
}
div a{
    text-decoration: none;
}
.kinder-button {
    color: #01ACFD;
}
.Elementary-button {
    color: #FEA301;
}
.Middle-button {
    color: #5D58EF;
}
.circle-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.circle {
    background-color: #FEA301;
    color: #f0eff3;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 24px;
}
.second-container-heading {
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: p {
    font-weight: bold;
    };
    
}
.img-text-container {
    width: 540px;
    height: 630px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px ;
    background-color: white;

}
.story-1 {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px ;
}
.img-text-container-text-title {
    /* margin-top: 118px; */
}
.story-1-button {
    width: 174px;
    height: 47px;
    border-radius: 47px;
    background-color: #01ACFD;
    color: #faf5f3;
    border: none;
    margin-top: -960px;
    margin-right: -1000px;
}
.story-2-button {
    width: 174px;
    height: 37px;
    border-radius: 47px;
    background-color: #95B226;
    color: #faf5f3;
    border: none;
    margin-top: -960px;
    margin-right: -1000px;  
}

.story-4-container, .story-2-container,.story-3-container, .story-2-container {
    /* width: 290px;
    height: 300px; */
}
.story-4, .story-2, .story-3, .story-5 {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px ; 
}
.story-3-button {
    width: 174px;
    height: 37px;
    border-radius: 47px;
    background-color: #95B226;
    color: #faf5f3;
    border: none;
    margin-top: -960px;
    margin-right: -1000px; 
}
.story-5-button {
    width: 174px;
    height: 37px;
    border-radius: 47px;
    background-color: #95B226;
    color: #faf5f3;
    border: none;
    margin-top: -960px;
    margin-right: -1000px;

}
.img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: -1px;

}
.second {
    display: flex;
    margin-top: auto;
    gap: 10px;
}
.container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.container-two {
    display: flex;
    flex-direction: column;
}
.footer-first {
    display: flex;
}
.last-container {
    width: 1439px;
    height: 519px;
    background-color: #01ACFD;
    color: white;
}
.footer-first-logo {
    width: 82px;
    height: 80px;
}
.footer-second {
    display: flex;
    flex-direction: column;
    color: #faf5f3;
}

.last-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 180px;
}

/* media responsive quary */
@media screen and (max-width:576px) {
   .container {
    display: flex;
    flex-direction: column;
   }
   .banner-img {
    width: 100%;
    height: 213px;
   }
   .first-container {
    display: flex;
    flex-direction: column;
   }
   .Standard-Curriculum {
    flex-direction: column;
    justify-content: center;
   }
   .banner-img {
    /* width: 100%; */
   }
   .banner, .first-container {
    flex-direction: column;
   }
   .banner {
    flex-direction: column-reverse;
   }
   .last-container {
    display: flex;
    flex-direction: column;
   }
   .story-1, .story-1-button, .img-text-container-text-title, .img-text-container-text-title-description {
    display: none;
   }
   .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   }
   .home span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;

   }
   

}    