nav a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}
.school {
    display: flex;
}
.home {
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.Contact {
    width: 197px ;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #FEA301;
}
.first {
    color: #FEA301;
}
.second {
    color: #01ACFD;
}
.third {
    color: #5D58EF;
}
.banner-button {
    color: white;
    background-color: black;
    width: 197px;
    height: 50px;
    border-radius: 12px;
}
.banner-img {
    width: 466px;
    height: 575px;

}
.banner {
    display: flex;
    width: 1158px;
    height: 575px;
    justify-content: center;
}
.banner-text {
    width: 640px;
    height: 331px;
    padding: 122px 200px 122px 0px;
}
.Empowering {
    color: #FEA301;
}
.towards-vision {
    color: #01ACFD;
}
.Standard-Curriculum {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    /* gap: 70px; */
    text-align: center;
    /* padding: 0px 340px 0px 340px; */
    gap: 40px;
}
.first-container {
    width: 1440px;
    height: 875px;
    background-image: url('assets/bg.png');
    
}
.kinder {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, rgb(230, 241, 245),white);
    border-radius: 18px;
}
.Elementary {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, #faf5f3,white);
    border-radius: 18px;
}
.Middle {
    width: 367px;
    height: 476px;
    background-image: linear-gradient(180deg, #f0eff3,white);
    border-radius: 18px;
}
div a{
    text-decoration: none;
}
.kinder-button {
    color: #01ACFD;
}
.Elementary-button {
    color: #FEA301;
}
.Middle-button {
    color: #5D58EF;
}
/* media responsive quary */
@media screen and (max-width:576px) {
   .container {
    display: flex;
    flex-direction: column;
   }
   .banner-img {
    width: 100%;
    height: 213px;
   }
   .first-container {
    display: flex;
    flex-direction: column;
   }
   .Standard-Curriculum {
    flex-direction: column;
    justify-content: center;
   }
}    